.free-grid-container {
  height: 89%;
  width:100%;
  min-width: 780px;
  max-width: 1280px;
  overflow-y: scroll;
  border: 5px solid black;
}

.free-grid {
  height: 100%;
  width: 100%;
  justify-content: center;
}

.free-grid-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
}
